[% WRAPPER '_assets/master.html.tt'
    app_key = 'testpage'               # The file value from the dynamicui.conf file.
    page_title = "Test Page"      # The page title.
-%]

[% data = execute( 'ResourceUsage', 'get_usages' ); %]
[% FOREACH q = data %]
     <p>
         [% q %]
     </p>
[% END %]

[% END %]
